.App {
  text-align: center;
  padding: 1.2rem;
}
.card-box{
 display:grid;
 grid-template-columns: auto auto auto;
}
.card-items{
  box-shadow: 2px 3px 4px blue;
  width: 24rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: start;
}
.details-card-box{
  display:grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;

}
.details-card-items{
  box-shadow: 2px 3px 4px rgb(226, 101, 122);
  width: 22rem;
  margin-bottom: 1.2rem;
  border-radius:14px;
}